.nav-container{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    max-height: 50px;
    background-color:azure;
    position: sticky;
   top: 0;
   
}
.logo-container{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 50%;
  padding-left: 300px;
  
}
.menu-container{
    display: flex;
    gap:20px;
    width: 50%;
   padding-left: 600px;
    align-items: center;
}


.img-logo{
    width: 40px;
    height: 30px;
}
/* banner 1 */

.banner-1{
    display: flex;
    
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color: rgb(245, 239, 240);
}

.banner-img img{
    width: 700px;
    height: 600px;
}
.banner-img{
    width: 50%;
    padding-right: 280px;
    
}
.banner-details{
   padding-left: 300px;
    width: 50%;


    
}
.banner-details p{
    text-align: start;
}
.banner-details button{
    padding: 10px;
    color: rgb(10, 10, 10);
    border-radius: 10px;
    border: none;
    color: aliceblue;
}
/* banner 2 */
.banner-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 239, 240);

}
.banner-2 img{
    width: 850px;
    height: 450px;
    padding-left: 300px;
    border-radius: 30px;
}
.banner-details-2{
    padding-right: 300px;
}
.banner-details-2 h1,p,h5{
    text-align: end;
}
.banner-details-2 button{
    margin-left:  392px;
    padding: 10px;
    color: rgb(252, 250, 250);
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 130, 228);

}
/* game section */

.game-container{
  background-color:rgb(251, 249, 245);
 padding-top: 20px;
}
.game-details{
    text-align: center;
}
.game-details p{
    text-align: center;

}
.game-cards{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.game-cards div{
    width: 340px;
    height: 480px;
}


/* review section */
.review-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-left:400px;
    background-color: rgb(251, 249, 245);
    padding-bottom: 150px;
}
.review-card{
    height: 725px;
    width: 780px;
    
}

.review-cat{
    position: relative;
    height: 365px;
    width: 320px;
    top: -200px;
    left:-150px ;
 
}

.review-man{
    height: 650px;
    width: 635px;
}
/* another review */

.review-container-2{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 30px;
    padding-right: 100px;
    gap: 150px;
}
.review-demon{
height: 650px;
width: 710px;
}
.review-girl{
height: 365px;
width: 318px;
position: relative;
top: -200px;
left: 500px;
}